@model WroseModel.View_Model.RegistrationVM
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="text-center">
                <h1>WROSE</h1><br />
                <h4>Change Password</h4>
            </div>
        </div>
    </div>
    @using (Html.BeginForm("ChangePassword", "UserRegistration", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                <div class="col-md-12">
                    @Html.EditorFor(model => model.User_Email, new { htmlAttributes = new { @class = "form-control", placeholder = "Email" } })
                    @Html.ValidationMessageFor(model => model.User_Email, "", new { @class = "text-danger" })
                </div>
            </div>

            @*<div class="form-group">
                    <div class="col-md-12">
                        @Html.EditorFor(model => model.User_Password, new { htmlAttributes = new { @class = "form-control", placeholder = "Old Password", @type = "password" } })
                        @Html.ValidationMessageFor(model => model.User_Password, "", new { @class = "text-danger" })
                    </div>
                </div>*@

            <div class="form-group">
                <div class="col-md-12">
                    @Html.EditorFor(model => model.User_NewPassword, new { htmlAttributes = new { @class = "form-control", placeholder = "New Password", @type = "password" } })
                    @Html.ValidationMessageFor(model => model.User_NewPassword, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-12 text-center">
                    <input type="submit" value="Change Password" class="btn btn-primary text-uppercase" />
                </div>
            </div>
        </div>
    }
    <div class="text-center">
        @*@Html.Label("", Convert.ToString((string)ViewBag.DuplicateMessage), new { @class = "text-danger" })
            @Html.Label("", Convert.ToString((string)ViewBag.SuccessMessage), new { @class = "text-success" })*@
        @if (ViewBag.SuccessMessage != null)
        {
            <div class="alert alert-success" id="success-alert">
                <button type="button" class="close" data-dismiss="alert">x</button>
                <b>@ViewBag.SuccessMessage </b>
            </div>
        }
        else if (ViewBag.DuplicateMessage != null)
        {
            <div class="alert alert-danger" id="danger-alert">
                <button type="button" class="close" data-dismiss="alert">x</button>
                <b>@ViewBag.DuplicateMessage</b>
            </div>
        }
    </div>
    <div>
        @Html.ActionLink("Login", "Login")
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $("#success-alert").fadeTo(2000, 500).slideUp(500, function () {
            $("#success-alert").slideUp(500);
        });
        $("#danger-alert").fadeTo(2000, 500).slideUp(500, function () {
            $("#danger-alert").slideUp(500);
        });
    });
</script>